<div class="title-container">
  <h2>Denke</h2>
  <a href="/denkes/profile" class="btn">Novo denke</a>
</div>
<section class="profile-info">
  <img alt="{{denke.User.name}}" class="avatar-photo" src="https://www.gravatar.com/avatar/{{denke.User.hashedEmail}}?s=100&d=https://i.imgur.com/LJijD16.png">
  <ul>
    <li><a href="/user/{{denke.User.id}}">@{{denke.User.username}}</a> ({{denke.User.name}})</li>
    <li>{{denke.User.email}}</li>
    <li>Entrou em <span data-date>{{denke.User.createdAt}}</span></li>
  </ul>
</section>
{{!-- REPLIED DENKE (IF THERE IS ONE) --}}
<div class="denkes-container">
    {{#if denke.isReply}}
    <div class="replied-denke">
      <figure>
        <blockquote><a href="/denkes/{{denke.repliedDenke.id}}">{{denke.repliedDenke.denkecontent}}</a></blockquote>
        <div class="metainfo">
          <figcaption><a href="/user/{{denke.repliedDenke.User.id}}">@{{denke.repliedDenke.User.username}}</a></figcaption>
          <span data-date class="date">{{denke.repliedDenke.updatedAt}}</span>
          <span><a href="/denkes/{{denke.repliedDenke.id}}">{{denke.repliedDenke.Denkes.length}} resposta(s)</a></span>
        </div>
      </figure>
    {{#if denke.repliedDenke.fromCurrentUser}}
    <div class="actions">
      <a href="/denkes/edit/{{denke.repliedDenke.id}}" class="btn"><i class="bi bi-pencil-square"></i> Editar</a>
      <form method="post" action="/denkes/remove">
        <input type="hidden" name="id" value="{{denke.repliedDenke.id}}">
        <button type="submit" class="btn" value="Excluir"><i class="bi bi-trash"></i> Excluir</button>
      </form>
    </div>
    {{/if}}
  </div>
  {{/if}}
  {{!-- CURRENT DENKE --}}
  <div class="current-denke">
    <figure>
      <blockquote>{{denke.denkecontent}}</blockquote>
      <div class="metainfo">
        <span data-date class="date">{{denke.updatedAt}}</span>
        {{#if denke.thereIsReplies}}
        <span>{{denke.Denkes.length}} resposta(s)</span>
        {{/if}}
      </div>
    </figure>
    {{#if denke.fromCurrentUser}}
    <div class="actions">
      <a href="/denkes/edit/{{denke.id}}" class="btn"><i class="bi bi-pencil-square"></i> Editar</a>
      <form method="post" action="/denkes/remove">
        <input type="hidden" name="id" value="{{denke.id}}">
        <button type="submit" class="btn" value="Excluir"><i class="bi bi-trash"></i> Excluir</button>
      </form>
    </div>
    {{/if}}
  </div>
  {{!-- REPLIES DENKES --}}
  {{#each denke.Denkes}}
    <div class="reply-denke">
      <figure>
        <blockquote><a href="/denkes/{{this.id}}">{{this.denkecontent}}</a></blockquote>
        <div class="metainfo">
          <figcaption><a href="/user/{{this.User.id}}">@{{this.User.username}}</a></figcaption>
          <span data-date class="date">{{this.updatedAt}}</span>
          {{#if this.thereIsReplies}}
          <span><a href="/denkes/{{this.id}}">{{this.Denkes.length}} resposta(s)</a></span>
          {{/if}}
        </div>
      </figure>
      {{#if this.fromCurrentUser}}
      <div class="actions">
        <a href="/denkes/edit/{{this.id}}" class="btn"><i class="bi bi-pencil-square"></i> Editar</a>
        <form method="post" action="/denkes/remove">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit" class="btn" value="Excluir"><i class="bi bi-trash"></i> Excluir</button>
        </form>
      </div>
      {{/if}}
    </div>
  {{/each}}
</div>
<div class="title-container">
  <h2>Publicar uma resposta</h2>
</div>
<div class="reply-container">
  <form method="post" action="/denkes/add">
    <input type="hidden" name="replyTo" id="replyTo" value="{{denke.id}}"></input>
    <textarea name="denkecontent" id="denkecontent" cols="30" rows="10" maxlength="250" placeholder="Escreva o seu comentário aqui"></textarea>
    <input type="submit" class="btn" value="Comentar">
  </form>
</div>

<script src="/assets/js/formatDate.js"></script>