<div class="dashboard">
  <div class="title-container">
    <h2>Denke</h2>
    <a href="/denkes/add" class="btn">Criar denke</a>
  </div>
  <section class="profile-info">
    <img src="/assets/img/generic-avatar.png">
    <ul>
      <li>@{{denke.User.username}} ({{denke.User.name}})</li>
      <li>{{denke.User.email}}</li>
      <li>Entrou em {{denke.User.createdAt}}</li>
    </ul>
  </section>
  <div class="denkes-container">
    <figure>
      <blockquote>{{denke.title}}</blockquote>
      <div class="metainfo">
        <span class="date">{{denke.updatedAt}}</span>
      </div>
    </figure>
  </div>
  <div class="title-container">
    <h2>Comentários</h2>
  </div>
  <div class="reply-container">
    <form>
      <input type="hidden" name="id" value="{{denke.id}}"></input>
      <textarea name="replycontent" id="replycontent" cols="30" rows="10" maxlength="250" placeholder="Escreva o seu comentário aqui"></textarea>
      <input type="submit" class="btn" value="Comentar">
    </form>
  </div>
</div>

<script src="/assets/js/formatDate.js"></script>