<div class="dashboard">
  <div class="title-container">
    <h2>Perfil</h2>
  </div>
  <section class="profile-info">
    <img src="/assets/img/generic-avatar.png">
    <ul>
      <li>@{{user.username}} ({{user.name}})</li>
      <li>{{user.email}}</li>
      <li>Entrou em <span data-date>{{user.createdAt}}</span></li>
    </ul>
  </section>
  <div class="denke-form-container">
    <form autocomplete="off" action="/denkes/add" method="post">
      <textarea name="denkecontent" maxlength="250" id="denkecontent" placeholder="O que você quer compartilhar?"></textarea>
      <input type="submit" value="Publicar!">
    </form>
  </div>
  <div class="denkes-container">
    {{#each denkes}}
    <div>
      <a href="/denkes/{{this.id}}">
        <figure>
          <blockquote>{{this.denkecontent}}</blockquote>
          <div class="metainfo">
            <span data-date class="date">{{this.updatedAt}}</span>
          </div>
        </figure>
      </a>
      <div class="actions">
        <a href="/denkes/edit/{{this.id}}" class="btn"><i class="bi bi-pencil-square"></i> Editar</a>
        <form method="post" action="/denkes/remove">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit" class="btn" value="Excluir"><i class="bi bi-trash"></i> Excluir</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  {{#if thereIsNoDenke}}
    <span>Você não tem nenhum denke. Comece a compartilhar!</span>
  {{/if}}
</div>
<script src="/assets/js/formatDate.js"></script>