<div class="dashboard">
  <div class="title-container">
    <h2>Perfil</h2>
  </div>
  <section class="profile-info">
    <img alt="{{user.name}}" class="avatar-photo" src="https://www.gravatar.com/avatar/{{user.hashedEmail}}?s=100">
    <ul>
      <li>@{{user.username}} ({{user.name}})</li>
      <li>{{user.email}}</li>
      <li>Entrou em <span data-date>{{user.createdAt}}</span></li>
    </ul>
    <div>
      <div><a href="/user/{{user.id}}/following"><i class="bi bi-person-fill"></i> {{user.follows.following.length}} seguindo</a></div>
      <div><a href="/user/{{user.id}}/followers"><i class="bi bi-person-fill"></i> {{user.follows.followers.length}} seguidores</a></div>
      <form action="/user/{{user.id}}/follow" method="post">
        <button style="color: #ff3e5f" type="submit"><i class="bi bi-plus-circle-fill"></i> <b>Seguir</b></button>
      </form>
    </div>
  </section>
    <div class="filter-options-container">
    <form class="search-form" action="/user" method="get">
      <input type="text" name="search" id="search" placeholder="Digite aqui para buscar">
      <button type="submit" class="btn"><i class="bi bi-search"></i></button>
    </form>
    <div class="order-container">
      <span>Ordenar por:</span>
      <form action="/user" method="get">
        <input type="hidden" name="search" value="{{this.search}}">
        <input type="hidden" name="order" value="new">
        <button type="submit" class="bi bi-arrow-up"></button>
      </form>
      <form action="/user" method="get">
        <input type="hidden" name="search" value="{{this.search}}">
        <input type="hidden" name="order" value="old">
        <button type="submit" class="bi bi-arrow-down"></button>
      </form>
      <a href="/user">Limpar</a>
    </div>
  </div>
  <div class="denke-form-container">
    <form autocomplete="off" action="/denkes/add" method="post">
      <textarea name="denkecontent" maxlength="250" id="denkecontent" placeholder="O que você quer compartilhar?"></textarea>
      <input type="submit" value="Publicar!">
    </form>
  </div>
  <div class="denkes-container">
    {{#each denkes}}
        <div>
            <figure>
              {{#if this.isReply}}
              <a class="in-response-link" href="/denkes/{{this.DenkeId}}"><i class="bi bi-arrow-90deg-left"></i> Em resposta</a>
              {{/if}}
              <blockquote><a href="/denkes/{{this.id}}">{{this.denkecontent}}</a></blockquote>
              <div class="metainfo">
                <figcaption><a href="/user/{{this.User.id}}">@{{this.User.username}}</a></figcaption>
                <span data-date class="date">{{this.updatedAt}}</span>
                {{#if this.thereIsReplies}}
                <span><a href="/denkes/{{this.id}}">{{this.Denkes.length}} resposta(s)</a></span>
                {{/if}}
              </div>
            </figure>
          </a>
          {{#if this.fromCurrentUser}}
            <div class="actions">
              <a href="/denkes/edit/{{this.id}}" class="btn"><i class="bi bi-pencil-square"></i> Editar</a>
              <form method="post" action="/denkes/remove">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" class="btn" value="Excluir"><i class="bi bi-trash"></i> Excluir</button>
              </form>
            </div>
          {{/if}}
        </div>
    {{/each}}
  {{#if thereIsNoDenke}}
    <span>Ainda não há nenhum denke!</span>
  {{/if}}
</div>

<script src="/assets/js/formatDate.js"></script>