<div class="home-header">
  {{#if search}}
  <h1>Denkes com o termo "{{search}}"</h1>
  {{else}}
  <h1>Todos os denkes</h1>
  {{/if}}
  <form action="/denkes" method="get">
    <input type="text" name="search" id="search" placeholder="Está procurando pro algo?">
    <input type="submit" value="Buscar" class="btn">
  </form>
  <div class="order-container">
    <span>Ordenar por:</span>
    <form action="/denkes" method="get">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="order" value="new">
      <button type="submit" class="bi bi-arrow-up"></button>
    </form>
    <form action="/denkes" method="get">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="order" value="old">
      <button type="submit" class="bi bi-arrow-down"></button>
    </form>
    <a href="/denkes">Limpar</a>
  </div>
</div>
<div class="denkes-container">
  {{#each denkes}}
  <a href="/denke/{{this.id}}">
    <figure>
      <blockquote>{{this.title}}</blockquote>
      <div class="metainfo">
        <figcaption>{{this.User.name}}</figcaption>
        <span class="date">{{this.updatedAt}}</span>
      </div>
    </figure>
  </a>
  {{/each}}
  {{#if thereIsNoDenke}}
    <span>Ainda não há nenhum denke!</span>
  {{/if}}
</div>

<script src="/assets/js/formatDate.js"></script>