<div class="timeline-header">
  {{#if search}}
  <div class="title-container">
    <h2>Denkes com o termo "{{search}}"</h2>
  </div>
  {{else}}
  <div class="title-container">
    <h2>Linha do tempo</h2>
  </div>
  {{/if}}
  <div class="filter-options-container">
    <form action="/denkes" method="get">
      <input type="text" name="search" id="search" placeholder="Digite aqui para buscar">
      <button type="submit" class="btn"><i class="bi bi-search"></i></button>
    </form>
    <div class="order-container">
      <span>Ordenar por:</span>
      <form action="/denkes" method="get">
        <input type="hidden" name="search" value="{{this.search}}">
        <input type="hidden" name="order" value="new">
        <button type="submit" class="bi bi-arrow-up"></button>
      </form>
      <form action="/denkes" method="get">
        <input type="hidden" name="search" value="{{this.search}}">
        <input type="hidden" name="order" value="old">
        <button type="submit" class="bi bi-arrow-down"></button>
      </form>
      <a href="/denkes">Limpar</a>
    </div>
  </div>
</div>
<div class="denke-form-container">
  <form autocomplete="off" action="/denkes/add" method="post">
    <textarea name="denkecontent" maxlength="250" id="denkecontent" placeholder="O que você quer compartilhar?"></textarea>
    <input type="submit" value="Publicar!">
  </form>
</div>
<div class="denkes-container">
  {{#each denkes}}
  <div>
    <a href="/denkes/{{this.id}}">
      <figure>
        <blockquote>{{this.denkecontent}}</blockquote>
        <div class="metainfo">
          <figcaption><a href="/user/{{this.User.id}}">@{{this.User.username}}</a></figcaption>
          <span data-date class="date">{{this.updatedAt}}</span>
        </div>
      </figure>
    </a>
    {{#if this.fromCurrentUser}}
      <div class="actions">
        <a href="/denkes/edit/{{this.id}}" class="btn"><i class="bi bi-pencil-square"></i> Editar</a>
        <form method="post" action="/denkes/remove">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit" class="btn" value="Excluir"><i class="bi bi-trash"></i> Excluir</button>
        </form>
      </div>
    {{/if}}
  </div>
  {{/each}}
  {{#if thereIsNoDenke}}
    <span>Ainda não há nenhum denke!</span>
  {{/if}}
</div>

<script src="/assets/js/formatDate.js"></script>